#  ███    ███ ██ ███    ██ ██████   ██████  ██ ████████        █████   ██████  ███████ ███    ██ ████████ 
#  ████  ████ ██ ████   ██ ██   ██ ██       ██    ██          ██   ██ ██       ██      ████   ██    ██    
#  ██ ████ ██ ██ ██ ██  ██ ██   ██ ██   ███ ██    ██    █████ ███████ ██   ███ █████   ██ ██  ██    ██    
#  ██  ██  ██ ██ ██  ██ ██ ██   ██ ██    ██ ██    ██          ██   ██ ██    ██ ██      ██  ██ ██    ██    
#  ██      ██ ██ ██   ████ ██████   ██████  ██    ██          ██   ██  ██████  ███████ ██   ████    ██    
#       Dont remove lines after this line, they are important for the integrity of the project

node_modules/
.env
.env.local
*.log
logs/
*.update.tmp
*.bak
.DS_Store
coverage/
dist/
dev/